<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5e_robotiq" >
  <!-- Pull in UR5e description macro -->
  <xacro:include filename="$(find ur5e-joint-velocity-control)/urdf/ur5e_jnt_vel_ctrl.urdf.xacro" />

  <!-- Pull in robotiq 85 gripper -->
  <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model.xacro" />

  <!-- Place gripper on end effector -->
  <joint name="robotiq_coupler_joint" type="fixed">
    <parent link="tool0" />
    <child link="robotiq_arg2f_base_link" />
    <origin xyz="0 0 0" rpy="0 0 1.57079632679" />
  </joint>

  <!-- Make gripper controllable in Gazebo -->
  <gazebo>
    <gripper name="gazebo_gripper">
      <grasp_check>
        <attach_steps>2</attach_steps>    <!-- default: 20 -->
        <detach_steps>2</detach_steps>    <!-- default: 40 -->
        <min_contact_count>3</min_contact_count>
      </grasp_check>
      <gripper_link>left_inner_finger_pad</gripper_link>
      <gripper_link>right_inner_finger_pad</gripper_link>
      <palm_link>robotiq_arg2f_base_link</palm_link>
    </gripper>
  </gazebo>

</robot>
