<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5" >
  <!-- Pull in UR5e description macro -->
  <!-- Use velocity, not position, interfaces -->
  <xacro:include filename="$(find ur_description)/urdf/inc/ur5e_macro.xacro" />
  <xacro:ur5e_robot prefix="" transmission_hw_interface="hardware_interface/VelocityJointInterface" />

  <!-- Need gazebo plugin for control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so" />
  </gazebo>

  <!-- define the ur5's position and orientation in the world coordinate system -->
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
  </joint>
</robot>
